<div class="row">
  <div class="span6">
  <h2><%= link_to article.title, article %> <em> <small><%= article.date.strftime('%b %e') %></em></small></h2>
</div>
<div class="span4 kudo">
  <figure class="kudo kudoable" data-id="<%= article.url %>">
      <a class="kudobject">
        <div class="opening"><div class="circle">&nbsp;</div></div>
      </a>
      <a href="#kudo" class="count">
        <span class="num">0</span>
        <span class="txt">Kudos</span>
      </a>
    </figure>
  </div>
</div>

<div class="heading">  </div>

<%= article.body %>
