<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <%= stylesheet_link_tag "bootstrap", "style", "kudos" %>
    <script src="http://www.parsecdn.com/js/parse-1.2.8.min.js"></script>
     <%= javascript_include_tag "jquery-1.9.1.min", "jquery.cookie", "kudos", "backend" %>
    
  </head>

  <body data-target=".nav-collapse">

    <header class="clearfix" role="banner" id="header">
      <div class="container ">
        <h1 class="brand">Lipenco: Today I Learned</h1>
        <div class="nav-collapse collapse">
           <nav role="navigation">
             <ul class="nav nav-pills">
            <li><a href="http://lipen.co/">My website</a></li>
            <li><a href="feed.xml.builder">RSS</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="container">
    <p class="lead">My name is Magdalena Lipi&#324;ska and I am an excited <strong> Rails Girls Summer of Code</strong> participant. This (hand made) blog was created to track my steps towards ultimate nerdiness.</p>
  </div>
    </header>
    <div class = "container">
      <%= yield %>

      <footer role="contentinfo">
        <p>&copy; <a href="http://lipen.co/"> Lipen.co </a> 2013. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
