<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <%= stylesheet_link_tag "bootstrap", "style", "kudos" %>
    <script src="http://www.parsecdn.com/js/parse-1.2.8.min.js"></script>
     <%= javascript_include_tag "backend", "jquery-1.9.1.min", "jquery.cookie", "kudos" %>

     <script type="text/javascript">
      // needs to be a string for jquery.cookie
      var postId = '1'; 

      $(function()
      {
        // initialize kudos
        $("figure.kudoable").kudoable();

        // check to see if user has already kudod
        // fyi cookies do not work when you are viewing this as a file
        if($.cookie(postId) == 'true') {
          // make kudo already kudod
          $("figure.kudoable").removeClass("animate").addClass("complete");

          // your server would take care of the proper kudos count, but because this is a
          // static page, we need to set it here so it doesn't become -1 when you remove
          // the kudos after a reload
          $(".num").html(1);
        } 

        // when kudoing
        $("figure.kudo").bind("kudo:active", function(e)
        {
          console.log("kudoing active");
        });

        // when not kudoing
        $("figure.kudo").bind("kudo:inactive", function(e)
        {
          console.log("kudoing inactive");
        });

        // after kudo'd
        $("figure.kudo").bind("kudo:added", function(e)
        {
          var element = $(this);
          // ajax'y stuff or whatever you want
          console.log("Kodo'd:", element.data('id'), ":)");

          // set cookie so user cannot kudo again for 7 days
          $.cookie(postId, 'true', { expires: 7 });
        });

        // after removing a kudo
        $("figure.kudo").bind("kudo:removed", function(e)
        {
          var element = $(this);
          // ajax'y stuff or whatever you want
          console.log("Un-Kudo'd:", element.data('id'), ":(");

          // remove cookie
          $.removeCookie(postId);
        });
      });
    </script>
  
    
  </head>

  <body data-target=".nav-collapse">

    <header class="clearfix" role="banner" id="header">
      <div class="container ">
        <h1 class="brand">Magdalena Lipi&#324;ska</h1>
        <div class="nav-collapse collapse">
           <nav role="navigation">
             <ul class="nav nav-pills">
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    </header>
    <div class = "container">
      <%= yield %>
      
      <footer role="contentinfo">
        <p>&copy; <a href="https://lipen.co"> Lipen.co </a> 2013. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
