<% wrap_layout :layout do %>

 <div class="row">
  <div class="span6">
  <h2><%= current_page.title %> <em> <small><%= current_page.date.strftime('%b %e') %></em></small></h2>
</div>
  <div class="span4">
      <figure class="kudo kudoable" data-id="<%= current_page.url %>">
      <a class="kudobject">
        <div class="opening"><div class="circle">&nbsp;</div></div>
      </a>
      <a href="#kudo" class="count">
        <span class="num">0</span>
        <span class="txt">Kudos</span>
      </a>
    </figure>
  </div>
    </div>

  <%= yield %>
<% end %>
